version: 2
jobs:
  build:
    docker:
      - image: mmgeorge/sbcl-debian:1.4.2
    steps:
      - checkout:
          path: ~/common-lisp/sly-asdf
      - run:
          name: Download sly
          command: git clone https://github.com/joaotavora/sly ~/common-lisp/sly --depth 1
      - run:
          name: Load package
          command:  sbcl --eval '(asdf:load-system "slynk-asdf")' --non-interactive | tee log.txt
      - run:
          name: Check log for undefined
          # SLYNK::CLASSIFY-SYMBOL error appears to be unrelated sly-asdf
          command: ! (grep -v SLYNK::CLASSIFY-SYMBOL log.txt | grep undefined)
